body {
    --text-color: #222;
    --bkg-color: rgb(201, 231, 167);
  }
  body.dark-theme {
    --text-color: rgb(230, 204, 204);
    --bkg-color: #121212;
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: rgb(156, 8, 8);
      --bkg-color: #121212;
    }
    body.light-theme {
      --text-color: #222;
      --bkg-color: rgb(92, 24, 24);
    }
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
  }